<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Hogwarts Database</h1>
  </header>
  <nav>
    <ul>
      <li>
        <a href='/students'>Home</a>
      </li>
      <li>
        <a href='/students/new'>Add a student</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
