<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
</head>
<body>
  <header>
    <h1>Hogwarts Database</h1>
  </header>
  <nav>
    <ul>
      <li>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
